<%- include('../partials/head', { title: 'Documentation :: Veryfine' }) %>

<nav class="navbar">
  <ul class="navbar__links">
    <li><a class="navbar__link" href="/">Home</a></li>
    <li><a
      class="navbar__link"
      href="https://github.com/sz-piotr/veryfine"
      target="_blank"
      rel="noopener"
    >Github</a></li>
  </ul>
</nav>

<article class="documentation">
  <h1 class="documentation-header">
    <strong class="documentation-header__title">Veryfine</strong>
    <span class="documentation-header__subtitle">documentation</span>
  </h1>

  <section>
    <h2 id="verifiers">Verifiers</h2>
    <%- include('../partials/docitem', { name: 'verifiers/toEqual' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toStrictlyEqual' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeInstanceOf' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toHaveTypeOf' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeTruthy' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeFalsy' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeGreaterThan' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeGreaterThanOrEqual' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeLessThan' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeLessThanOrEqual' }) %>
    <%- include('../partials/docitem', { name: 'verifiers/toBeCloseTo' }) %>
  </section>
</article>

<%- include('../partials/footer') %>
<%- include('../partials/tail') %>
